# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log

# Logs
*.log

# Build
pkg/
dist/
out/
build/
!build/root/

# Python Cache
__pycache__/

# Icon sets
*.icns
*.iconset

# System cleanup outputs
tmp/
